@import "tailwindcss";

@theme {
  --color-cream: #FFF9F0;
  --color-ivory: #FAF9F6;
  --color-gold: #D4AF37;
  --color-richBlack: #0A0A0A;
  
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}


@keyframes shimmer { 0% { background-position: 200% center; } 100% { background-position: -200% center; } }
